
.container {
    text-align: center;

}

.Komronbek {
    font-family: 'Komronbek', cursive;
    font-size: 3rem;
    transition: ease-in-out .5s;    
    color: #3498db;
    animation: rainbow 1s infinite alternate;
}

@keyframes rainbow {
    0% { color: #3498db; text-shadow: 0px 0px 10px white;}
    25% { color: #2ecc71; text-shadow: 0px 0px 10px red;}
    50% { color: #f1c40f; text-shadow: 0px 0px 10px green;}
    75% { color: #e74c3c; text-shadow: 0px 0px 10px blue;}
    100% { color: #3498db; text-shadow: 0px 0px 10px burlywood;}
}



body {
    background-image: url(https://miro.medium.com/v2/resize:fit:1358/1*yw0TnheAGN-LPneDaTlaxw.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.hammasi {
    background-color: rgba(39, 35, 35, 0.403);
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.554);
    margin-top: 10px;
}
.Submt {
    background-color: green;
    border: 1px solid green;
}
.Submt:focus {
    outline: none;
    background-color: red;
    border: 1px solid red;
}
input {
    margin: 15px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.752);
    border: 1px solid red;
    box-shadow: 0px 0px 3px white;
    border-radius: 2px;
    height: 25px;
}

input:focus{
  outline: none;
  border: none;
  background-color: rgba(241, 233, 177, 0.861);
  color: black;
  font-weight: bold;
  font-size: 15 px;
  box-shadow: 0px 0px 3px red;
  border-bottom: 2px solid red;
}
